<nav class="navbar navbar-default">
  <div class="container-fluid">
    	<!-- logo image -->
  		<%= image_tag("Puzzlit_logo.jpg", size: "50x50")  %>
      <!-- shows who is logged in -->
  		<span>Logged in as: <%= current_user.name %></span>
      <!-- navbar links -->
      <ul class="nav navbar-nav navbar-right">       
        <li><%= link_to "List of Puzzles", puzzles_path %></li>
        <li><%= link_to "Create a new puzzle", new_puzzle_path%></li>    
        <!-- logout button -->
        <li><%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary btn-block" %></li>	
      </ul>
  </div><!-- /.container-fluid -->
</nav>